<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "景文高中優人表演藝術班" %></title>
    <meta name="description" content="<%= current_page.data.description || "創立於2007年9月，由優人神鼓與景文高中合作創設；是一個突破現有體制，整合靜心、音樂、肢體、客觀劇場跨領域多元開發的課程，匯聚一群深刻覺知自己的表演藝術界菁英組成的堅強師資陣容，由優人神鼓藝術總監暨97年國家藝文獎得主劉若瑀親自領軍。是培訓專業表演藝術工作者的紮根計畫。也是優人神鼓經營台北文山藝文中心－「表演36房」的長遠目標。"%>">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr-2.6.2-respond-1.1.0.min.js' %>

    <meta property="og:title" content="<%= current_page.data.title || "景文高中優人表演藝術班" %>"/>
    <meta property="og:description" content="<%= current_page.data.description || "創立於2007年9月，由優人神鼓與景文高中合作創設；是一個突破現有體制，整合靜心、音樂、肢體、客觀劇場跨領域多元開發的課程，匯聚一群深刻覺知自己的表演藝術界菁英組成的堅強師資陣容，由優人神鼓藝術總監暨97年國家藝文獎得主劉若瑀親自領軍。是培訓專業表演藝術工作者的紮根計畫。也是優人神鼓經營台北文山藝文中心－「表演36房」的長遠目標。"%>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= data.basic.baseUrl %><%= current_page.url %>"/>
    <meta property="og:image" content="<%= data.basic.baseUrl %>/img/asset/header_logo2.png"/>
    <meta property="og:site_name" content="景文高中優人表演藝術班" />
    <meta property="fb:app_id" content="1489383751330745" />
  </head>
  <body class="opacity0">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=266049590099572&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      <![endif]-->

  <%= partial "partials/header" %>

  <%= yield %>

  <%= partial "partials/footer" %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
  <%= javascript_include_tag 'plugins' %>
  <%= javascript_include_tag 'application' %>

  <%= partial "partials/GA" %>

  </body>
</html>
