<!-- header -->
  <div id="top" class="header">

    <div class="menu-btn only-mobile">&#9776; Menu</div>

    <div class="header_top">
      <div class="container">
        <div class="header_top-icons">
          <% link_to 'https://www.facebook.com/pas36', :target => '_blank', :class => "trans-05s" do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>

          <% link_to '/', :class => "trans-05s" do %>

            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <span> | </span>
          <%= link_to '聯絡我們', '/contact.html', :class => "contact_us" %>
        </div>
        <div class="header_top-subscribe">
          <button class="subscribe-button" type="button">電子報訂閱</button>
        </div>

      </div>
    </div>
    <!-- banner -->
    <div class="container">

      <div class="header_banner">
        <!-- facebook and back2home link icon -->
        <div class="header_banner-icons hidden-mobile">

        </div>
        <div class="header_banner-logo">
          <div class="logo-wrapper">
            <% link_to '/' do %>

              <%= image_tag 'asset/header_logo2.png', :class => 'img-responsive only-mobile'%>
              <%= image_tag 'asset/header_logo5.png', :class => 'img-responsive only-pad'%>
              <%= image_tag 'asset/header_logo4.png', :class => 'img-responsive only-desktop'%>
              <%= image_tag 'asset/header_logo3.png', :class => 'img-responsive only-large'%>

            <% end %>

          </div>
        </div>
        <div class="header_banner-subscribe hidden-mobile">

        </div>
      </div>
    </div><!-- e/o banner -->

    <!-- navi bar -->
    <div class="container hidden-mobile">
      <nav>
        <ul>
          <!-- navi contents -->
          <% data.navi.each do |f| %>
          <li><%= nav_link f.title, f.link %></li>
          <% end %>
        </ul>
      </nav>
    </div><!-- e/o navi bar -->

  </div>

  <!-- mobile menu -->
  <nav class="pushy pushy-left">
    <ul>
      <li><a href="/">回到首頁 <i class="fa fa-home"></i></a></li>
      <% data.navi.each do |f| %>
      <li><%= nav_link f.title, f.link %></li>
      <% end %>
    </ul>
  </nav>
  <!-- Site Overlay -->
  <div class="site-overlay"></div>
