---
title: 表演 36 房 || 關於 36 房
banner:
feature_img: "./img/index_slider/02.jpg"
---
<!-- about.html -->

  <%= partial "partials/title_with_bg_section" %>

  <!-- content title tabs -->
  <div class="about_tabs">
    <div class="container">

      <div class="about_tabs-wrapper">
        <div class="about_tabs-unit">
          <ul>
            <% data.about.tabs.each do |f| %>
            <li><a href="<%= f.anchor %>"><%= f.title %></a></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- content area -->
  <div class="about_content">
    <div class="container">

      <div class="about_content_wrapper">

        <% data.about.content.each do |f| %>

        <div class="unit">
          <div class="content_title">
            <h3 id="<%= f.anchor %>"><%= f.title %></h3>
          </div>
          <div class="img">
            <img class="img-responsive" src="<%= f.pic %>" alt="">
          </div>
          <div class="content">
            <% f.content.each do |c| %>
            <p><%= c %></p>
            <% end %>
          </div>
        </div>

        <% end %>




      </div>

    </div>
  </div>


