---
title: 表演 36 房 || 活動花絮
---
<!-- activities.html -->

  <!-- slider -->
  <div class="activities_slider">
    <div class="container">
      <div class="banner-divider">
        <img src="./img/asset/banner-divider.png" alt="" class="img-responsive">
      </div>
      <%= partial "partials/activities_slider" %>
      <div class="banner-divider">
        <img src="./img/asset/banner-divider.png" alt="" class="img-responsive">
      </div>
    </div>
  </div><!-- e/o slider -->

  <!-- activities list -->
  <div class="activities_list">
    <div class="container">
      <div class="activities_wrapper">

        <% data.activities.each do |f| %>
        <!-- activities unit -->
        <div class="unit">
          <div class="activity_inner">
            <!-- 封面照片 -->
            <div class="activity_cover">
              <img class="img-responsive" src="<%= f.cover %>" alt="">
            </div>
            <!-- 活動標題 -->
            <h3><%= f.title %></h3>
            <!-- 活動描述 -->
            <div class="description">
              <p><%= f.description %></p>
            </div>
            <!-- 打開 Gallery（href 指向第一張照片）, data-lightbox 的值可設定為活動 id -->
            <div class="gallery-trigger">
              <a
                class="lightview"
                href="<%= f.gallery.first %>"
                data-lightview-group="<%= f.title %>"
                data-lightview-group-options="
                                              controls: 'thumbnails',
                                              skin: 'mac',
                                              mousewheel: true,
                                              thumbnail: {mousewheel: true}
                                              ">觀賞照片</a>
            </div>
          </div>

          <!-- 放置其他照片給 lightbox 用 -->
          <div class="gallery_container">
            <!-- 列出第二張之後的照片 -->
            <% f.gallery.each_with_index do |g, index| %>
              <% if index > 0 %>
            <a class="lightview" href="<%= g %>" data-lightview-group="<%= f.title %>"></a>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
