---
title: 景文高中優人表演藝術班 || 課程資訊
---
<!-- courses.html -->

  <!-- slider -->
  <div class="course_slider">
    <div class="container">
      <%= partial "partials/courses_slider" %>
      <div class="banner-divider"></div>
    </div>
  </div><!-- e/o slider -->

  <!-- courses list -->
  <div class="course_list">
    <div class="container">
      <div class="course_list-wrapper">

        <!-- 音樂課程 -->
        <div class="course_block">

          <% data.courses.music.each do |f| %>
          <!-- 課程單元 -->
          <div class="unit">
            <a href="<%= f.link %>">
              <div class="unit-inner course">
                <h3><%= f.title %></h3>
                <div class="mobile-photo">
                  <img class="img-responsive" src="<%= f.img %>" alt="">
                </div>
                <div class="description">
                  <p><%= f.content %></p>
                </div>
                <div class="readmore">
                  <a href="<%= f.link %>" class="b-course">了解更多</a>
                </div>
              </div>
            </a>
          </div><!-- e/o 課程單元 -->
          <% end %>

        </div>

        <!-- 肢體課程 -->
        <div class="event_block">

          <% data.courses.body.each do |f| %>
          <!-- 活動單元 -->
          <div class="unit">
            <a href="<%= f.link %>">
              <div class="unit-inner event">
                <h3><%= f.title %></h3>
                <div class="mobile-photo">
                  <img class="img-responsive" src="<%= f.img %>" alt="">
                </div>
                <div class="description">
                  <p><%= f.content %></p>
                </div>
                <div class="readmore">
                  <a href="<%= f.link %>" class="b-event">了解更多</a>
                </div>
              </div>
            </a>
          </div><!-- e/o 活動單元 -->
          <% end %>

        </div>

        <!-- 靜心課程 -->
        <div class="heart_block">

          <% data.courses.heart.each do |f| %>
          <!-- 活動單元 -->
          <div class="unit">
            <a href="<%= f.link %>">
              <div class="unit-inner heart">
                <h3><%= f.title %></h3>
                <div class="mobile-photo">
                  <img class="img-responsive" src="<%= f.img %>" alt="">
                </div>
                <div class="description">
                  <p><%= f.content %></p>
                </div>
                <div class="readmore">
                  <a href="<%= f.link %>" class="b-heart">了解更多</a>
                </div>
              </div>
            </a>
          </div><!-- e/o 活動單元 -->
          <% end %>

        </div>

        <!-- 演出 -->
        <div class="perform_block">

          <% data.courses.perform.each do |f| %>
          <!-- 活動單元 -->
          <div class="unit">
            <a href="<%= f.link %>">
              <div class="unit-inner perform">
                <h3><%= f.title %></h3>
                <div class="mobile-photo">
                  <img class="img-responsive" src="<%= f.img %>" alt="">
                </div>
                <div class="description">
                  <p><%= f.content %></p>
                </div>
                <div class="readmore">
                  <a href="<%= f.link %>" class="b-perform">了解更多</a>
                </div>
              </div>
            </a>
          </div><!-- e/o 活動單元 -->
          <% end %>

        </div>

      </div>
    </div>
  </div><!-- e/o courses list -->
