---
title: 表演 36 房 || 下載專區
banner: 下載專區
---
<!-- download.html -->

  <div class="download_list">
    <div class="container">
      <div class="download_wraper">

        <% data.download.each do |f| %>
        <!-- 分類 unit -->
        <div class="category_block">
          <h3><%= f.category %></h3>
          <div class="files_list">

            <% f.files.each do |file| %>
            <!-- 檔案 unit -->
            <div class="file_unit">
              <div class="file_wrapper">
                <h4><%= file.title %></h4>
                <div class="file_info">
                  <p><%= file.description %></p>
                </div>
                <div class="file_type">
                  <img class="img-responsive" src="./img/asset/file_type/<%= file.type %>.png" alt="">
                </div>

                <a href="<%= file.link %>" target="_blank">下載</a>

              </div>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
