---
title: 表演 36 房
---
<!-- index.html -->

  <!-- slider -->

  <div class="index_slider">
    <div class="container">
      <div class="banner-divider">
        <img src="./img/asset/banner-divider.png" alt="" class="img-responsive">
      </div>

      <%= partial "partials/index_slider" %>

      <div class="banner-divider">
        <img src="./img/asset/banner-divider.png" alt="" class="img-responsive">
      </div>
    </div>
  </div><!-- e/o slider -->

  <!-- index main content => news and FB -->
  <div class="index_main">
    <div class="container">
      <!-- 最新消息 -->
      <div class="index_news">
        <a href="#" class="index_news-title trans-05s">最新消息</a>
        <div class="index_news-inner">

          <% data.index.news.each do |f| %>
          <!-- news unit -->
          <a href="<%= f.link %>" class="unit curl-top-right trans-05s">

            <!-- left for feature pic -->
            <div class="left">
              <img class="img-responsive" src="<%= f.img %>" alt="">
            </div>

            <!-- right for detail info -->
            <div class="right">
              <div class="date">
                <span><%= f.date %></span>
              </div>
              <div class="title">
                <h3><%= f.title %></h3>
              </div>
              <div class="summary only-desktop-up">
                <p><%= f.summary %></p>
              </div>
            </div>
          </a>
          <% end %>

          <!-- <div class="index_news-more">
            MORE
          </div> -->

        </div>
      </div><!-- e/o 最新消息 -->

      <!-- facebook -->
      <div class="index_facebook">
        <h2 class="index_facebook-title">facebook</h2>
        <div class="index_main-inner">
          <iframe class="facebook_block" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpas36&amp;width&amp;height&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
        </div>
      </div><!-- e/o facebook -->

    </div>
  </div>

  <!-- little banners -->
  <div class="index_banners">
    <div class="container">
      <div class="divider"></div>
    </div>
    <div class="container">
      <% data.index.banner.each do |f| %>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="<%= f.link %>">
            <img class="img-responsive" src="<%= f.img %>" alt="<%= f.title %>" title="<%= f.title %>">
          </a>
        </div>
      </div>
      <% end %>
      <div class="index_banner-unit only-mobile">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="http://placehold.it/300x130" alt="placeholder" title="placeholder">
          </a>
        </div>
      </div>

    </div>
  </div>
