---
title: 表演 36 房 || 活動課程
---
<!-- courses.html -->

  <!-- slider -->
  <div class="course_slider">
    <div class="container">
      <%= partial "partials/courses_slider" %>
      <div class="banner-divider"></div>
    </div>
  </div><!-- e/o slider -->

  <!-- courses list -->
  <div class="course_list">
    <div class="container">
      <div class="course_list-wrapper">

        <!-- 課程 -->
        <div class="course_block">

          <% data.courses.courses.each do |f| %>
          <!-- 課程單元 -->
          <div class="unit">
            <a href="<%= f.link %>">
              <div class="unit-inner course">
                <h3><%= f.title %></h3>
                <div class="mobile-photo">
                  <img class="img-responsive" src="<%= f.img %>" alt="">
                </div>
                <div class="description">
                  <p><%= f.content %></p>
                </div>
                <div class="readmore">
                  <a href="<%= f.link %>" class="b-course">了解更多</a>
                </div>
              </div>
            </a>
          </div><!-- e/o 課程單元 -->
          <% end %>

        </div>

        <!-- 活動 -->
        <div class="event_block">

          <% data.courses.events.each do |f| %>
          <!-- 活動單元 -->
          <div class="unit">
            <a href="<%= f.link %>">
              <div class="unit-inner event">
                <h3><%= f.title %></h3>
                <div class="mobile-photo">
                  <img class="img-responsive" src="<%= f.img %>" alt="">
                </div>
                <div class="description">
                  <p><%= f.content %></p>
                </div>
                <div class="readmore">
                  <a href="<%= f.link %>" class="b-event">了解更多</a>
                </div>
              </div>
            </a>
          </div><!-- e/o 活動單元 -->
          <% end %>

        </div>

      </div>
    </div>
  </div><!-- e/o courses list -->
